<div class="navbar sticky-top container-fluid py-3" style="background-color:    #001d3d">
	<h3 class="tituloHome navbar-brand ms-4">Click & Play</h3>
	<!-- DROPDOW -->
	<div class="dropdown dropstart">
		<button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
			aria-expanded="false">
			Menu
		</button>
		<ul (click)="closeSession()" class="dropdown-menu me-2" aria-labelledby="dropdownMenuButton1">
			<li ><a class="dropdown-item" >Cerrar sesión</a></li>
		</ul>
	</div>
	<!-- DROPDOWN END-->
</div>

