
    <!-------------------------------------------------------------------------------------------------------------->
        <!-----------------------------------------------ENCABEZADO----------------------------------------------------->
        <!-------------------------------------------------------------------------------------------------------------->
        <!-- NAVBAR -->
        <div class="navbar sombra sticky-top container-fluid py-3" style="background-color: #E63946;">
            <button class="buttonTitle ms-4">Control-P</button>
            <form class="d-flex">
                <button  class="buttonHome me-4" data-bs-toggle="modal" data-bs-target="#exampleModalLogin" type="button">
                    <span>
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </button>
            </form>
        </div>

<!--MODAL LOGIN-->

<div class="modal fade" id="exampleModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container">
            <div class="modal-content">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <div class="position-relative">
                            <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h2>Login</h2>
                        <input name="username" type="text" class="field" placeholder="User">
                        <input name="password" type="password" class="field" placeholder="Password">
                        <div class="modal-footer">
                            <button class="btn" data-bs-dismiss="modal">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>