/* ESTILOS PARA EL TÍTULO */
a{
    color: #DBD5B5;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .5s;
}

/* --------------------------------------------------- */

/* ESTILOS PARA LOS BOTONES DEL LOGIN */
.buttonHome{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #ffd60a;
    color: #001d3d;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 9rem;
	margin-right: 20px;
}

button span{
    position: absolute;
    background: #9a031e;
    transition: .5s;
    border-radius: 5px;
}

button span:nth-child(1) {
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}

button:hover span:nth-child(1){
    left: 0;
    background: #9a031e;
    color: #9a031e;
}

button:hover span:nth-child(2){
    right: 0;
    background: #9a031e;
    color: #9a031e;
}
/* --------------------------------------------------- */

/* ESTILOS PARA EL MODAL DE LOGIN*/
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-box2{
	max-width: 850px;
	display: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}


.left{
	background: url("../../../assets/img/LoginRegisterpicture.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}


h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #D62D2D;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #9a031e;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #D62D2D;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

.requiredField{
    color: #DD4B39;
    display: flex;
    align-items: flex-start;
	font-size: 0.75rem;
}

/* Estilos para los checkboxes */

.checkbox-label {
    margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.checkbox-input {
    /* Opcional: Si deseas que los checkboxes tengan un ancho uniforme, puedes especificar un ancho fijo */
    width: 20px;
    height: 20px;
}

/* Estilo cuando el checkbox está marcado */
.checkbox-input:checked + .checkbox-label::before {
    content: '\2713'; /* símbolo de marca de verificación */
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #9a031e; /* Color cuando está marcado */
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
}

/* Estilo básico para el contenedor del checkbox */
.checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #9a031e; /* Borde básico */
    border-radius: 3px;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo cuando el checkbox está marcado y se pasa el mouse sobre él */
.checkbox-label:hover::before {
    background-color: #7a0217; /* Color más oscuro cuando se pasa el mouse */
    border-color: #7a0217;
}
