<!-- NAVBAR - LOGIN Y REGISTER -->
<div class="navbar sticky-top container-fluid py-3" style="background-color: #001d3d;">
    <a class="tituloHome navbar-brand ms-4">Click & Play</a>
    <form class="d-flex">
        <button  class="buttonHome" data-bs-toggle="modal" data-bs-target="#exampleModalLogin" type="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </button>
        <button class="buttonHome ms-3" data-bs-toggle="modal" data-bs-target="#exampleModalregister" type="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </button>
    </form>
</div>

<!-- Modal Login-->
<div class="modal fade" id="exampleModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container">
            <div class="modal-content">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <div class="position-relative">
                            <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h2>Login</h2>
                            <input [(ngModel)]="this.dataLogin.username" name="user" type="text" class="field" placeholder="User">
                            <input [(ngModel)]="this.dataLogin.password" name="pass" type="password" class="field" placeholder="Password">
                        <div class="modal-footer">
                            <button (click)="login()" class="btn" data-bs-dismiss="modal">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register-->
<div class="modal fade" id="exampleModalregister" tabindex="-1" aria-labelledby="examp  leModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container">
            <div class="modal-content">
                <div class="contact-box2">
                    <div class="right">
                        <div class="position-relative">
                            <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h2>Register</h2>
                        <form #registerForm>
                            <div>
                                <input [(ngModel)]="this.user.username"  name="username" type="text" class="field" placeholder="Username" required >
                            </div>
                            <div>
                                <input [(ngModel)]="this.user.age" name="age" type="text" class="field" placeholder="Age" required >
                            </div>
                            <div>
                                <input [(ngModel)]="this.user.country"  name="country" type="text" class="field" placeholder="Country" required >
                            </div>
                            <div>
                                <input [(ngModel)]="this.user.email" name="email" type="text" class="field" placeholder="Email" required>
                            </div>
                            <div>
                                <input [(ngModel)]="this.user.password" name="password" type="password" class="field" placeholder="Password" required >
                            </div>
                            <h2>Favorite Genres</h2>
                            <!-- Checkbox para géneros de películas -->
                            <div class="checkbox-container">
                                <div *ngFor="let genre of genres" class="checkbox-item">
                                    <input type="checkbox" [id]="genre.value" [value]="genre.value"
                                        (change)="onCheckboxChange($event)"
                                        [checked]="selectedGenres.includes(genre.value)" class="checkbox-input">
                                    <label class="checkbox-label" [for]="genre.value">{{ genre.name }}</label>
                                </div>
                            </div>
                            <button (click)="register()" class="btn" data-bs-dismiss="modal">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>