<div class="body fondo">
    <app-nav-bar></app-nav-bar>

    <div class="d-flex flex-column mx-5 my-5">

        <!-- Género -->
        <h3>Género</h3>
        <div class="d-flex justify-content-around mt-3">
            
        </div>

        <!-- Actor -->
        <h3>Actor</h3>
        <div class="d-flex justify-content-around mt-3">
            
        </div>

        <h3>Director</h3>
        <div class="d-flex justify-content-around mt-3">
            
        </div>

    </div>
</div>

