
    <div class="body fondo">
    
    <app-nav-bar></app-nav-bar>
    
    <div class="d-flex justify-content-around mt-5 my-5 mx-5">
        <div class="d-flex justify-content-end mb-2 w-100 button-group">
            <button (click)="ngOnInit()" class="buttonHome me-2" data-bs-toggle="modal" data-bs-target="#exampleModalRelacion1" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Genre-Movie
            </button>
            <button (click)="ngOnInit()" class="buttonHome me-2" data-bs-toggle="modal" data-bs-target="#exampleModalRelacion2" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Actor-Movie 
            </button>
            <button (click)="ngOnInit()" class="buttonHome" data-bs-toggle="modal" data-bs-target="#exampleModalRelacion3" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Director-Movie
            </button>
        </div>
    </div>

    <div class="empresas">
        <!-- Card 1 -->
        <div class="card me-3 mt-3 ms-3">
            <img class="card-img-top" src="../../../assets/img/Gender.jpg" alt="Imagen Empresa">
            <div class="card-body">
                <h5 class="card-title"><strong></strong></h5>
                <button class="buttonHome ms-3" data-bs-toggle="modal" data-bs-target="#exampleModalGenre" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Add Genre
                </button>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card me-3 mt-3 ms-3">
            <img class="card-img-top" src="../../../assets/img/Actor.jpg" alt="Imagen Empresa">
            <div class="card-body">
                <h5 class="card-title"><strong></strong></h5>
                <button class="buttonHome ms-3" data-bs-toggle="modal" data-bs-target="#exampleModalActor" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Add Actor
                </button>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card me-3 mt-3 ms-3">
            <img class="card-img-top" src="../../../assets/img/Director2.jpg" alt="Imagen Empresa">
            <div class="card-body">
                <h5 class="card-title"><strong></strong></h5>
                <button class="buttonHome ms-3" data-bs-toggle="modal" data-bs-target="#exampleModalDirector" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Add Director
                </button>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card me-3 mt-3 ms-3">
            <img class="card-img-top" src="../../../assets/img/poster.jpg" alt="Imagen Empresa">
            <div class="card-body">
                <h5 class="card-title"><strong></strong></h5>
                <button class="buttonHome ms-3" data-bs-toggle="modal" data-bs-target="#exampleModalPelicula" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Add Movie
                </button>
            </div>
        </div>
    </div>

   
    <section class="functions">

        <!-- MODAL PARA AGREGAR -->
        <!-- MODAL PARA GENERO -->
        <div class="modal fade" id="exampleModalGenre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Add Genre</h2>
                                <form #registerForm>
                                    <div>
                                        <input [(ngModel)]="this.genre.name"  name="name" type="text" class="field" placeholder="Name" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.genre.description"   name="description" type="text" class="field" placeholder="Description" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.genre.popularity" name="popularity" type="text" class="field" placeholder="Popularity" required>
                                    </div>
                                    <button (click)="createGenre()" class="btn" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA ACTOR -->
        <div class="modal fade" id="exampleModalActor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Add Actor</h2>
                                <form #registerForm>
                                    <div>
                                        <input [(ngModel)]="this.actor.name"   name="name" type="text" class="field" placeholder="Name" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.actor.birth_date"  name="birth date" type="text" class="field" placeholder="Birth date" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.actor.nationality" name="nationality" type="text" class="field" placeholder="Nationality" required >
                                    </div>
                                    <button (click)="createActor()" class="btn" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA DIRECTOR -->
        <div class="modal fade" id="exampleModalDirector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Add Director</h2>
                                <form #registerForm>
                                    <div>
                                        <input [(ngModel)]="this.director.name" name="name" type="text" class="field" placeholder="Name" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.director.birth_date" name="birth date" type="text" class="field" placeholder="Birth date" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.director.nationality"  name="nationality" type="text" class="field" placeholder="Nationality" required >
                                    </div>
                                    <button (click)="createDirector()" class="btn" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA Pelicula -->
        <div class="modal fade" id="exampleModalPelicula" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Add Movie</h2>
                                <form #registerForm>
                                    <div>
                                        <input [(ngModel)]="this.movie.title"  name="title" type="text" class="field" placeholder="Title" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.movie.duration_minutes"   name="duration minutes" type="text" class="field" placeholder="Duration minutes" required >
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.movie.rating"  name="rating" type="text" class="field" placeholder="Rating" required>
                                    </div>
                                    <div>
                                        <input [(ngModel)]="this.movie.release_year"  name="release year" type="text" class="field" placeholder="Release year" required>
                                    </div>
                                    <button (click)="createMovie()" class="btn" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Modal para agregar las relaciones-->
         <!--Modal para Genre Movie -->

         <div class="modal fade" id="exampleModalRelacion1" tabindex="-1" aria-labelledby="examp  leModalLabel" aria-hidden="true" (hidden.bs.modal)="resetFormMG()">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box2">
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Relación Genre-Movie</h2>
                                <form #registerForm>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieGenre.genre" name="Genre" class="field" required>
                                            <option value="" disabled selected>Géneros</option>
                                            <option  *ngFor="let genre of this.genres" [value]="genre.name">{{genre.name}}</option>
                                            
                                        </select>
                                    </div>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieGenre.title" name="Movie" class="field" required>
                                            <option value="" disabled selected>Películas</option>
                                            <option *ngFor="let movie of this.movies" [value]="movie.title">{{movie.title}}</option>
                                        </select>
                                    </div>
                                    <button (click)="this.relationMovieGenre()" class="btn" [disabled]="!isFormValidMG()" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!--Modal para Actor Movie -->

         <div class="modal fade" id="exampleModalRelacion2" tabindex="-1" aria-labelledby="examp  leModalLabel" aria-hidden="true" (hidden.bs.modal)="resetFormMA()">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box2">
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Relación Actor-Movie</h2>
                                <form #registerForm>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieActor.actor" name="Genre" class="field" required>
                                            <option value="" disabled selected>Actores</option>
                                            <option *ngFor="let actor of this.actors" [value]="actor.name">{{actor.name}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieActor.title" name="Movie" class="field" required>
                                            <option value="" disabled selected>Películas</option>
                                            <option *ngFor="let movie of this.movies" [value]="movie.title">{{movie.title}}</option>
                                        </select>
                                    </div>
                                    <button (click)="relationMovieActor()" class="btn" [disabled]="!isFormValidMA()" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <!--Modal para Director Movie -->

         <div class="modal fade" id="exampleModalRelacion3" tabindex="-1" aria-labelledby="examp  leModalLabel" aria-hidden="true" (hidden.bs.modal)="resetFormMD()">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box2">
                            <div class="right">
                                <div class="position-relative">
                                    <button  type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Relación Director-Movie</h2>
                                <form #registerForm>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieDirector.director" name="Genre" class="field" required>
                                            <option value="" disabled selected>Directores</option>
                                            <option *ngFor="let director of this.directors" [value]="director.name">{{director.name}}</option>
                                          
                                        </select>
                                    </div>
                                    <div>
                                        <select [(ngModel)]="this.dataMovieDirector.title" name="Movie" class="field" required>
                                            <option value="" disabled selected>Películas</option>
                                            <option *ngFor="let movie of this.movies" [value]="movie.title">{{movie.title}}</option>
                                        </select>
                                    </div>
                                    <button (click)="relationMovieDirector()" class="btn" [disabled]="!isFormValidMD()" data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <br>

</div>


